@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
:root {
  --blue:  #3299dd;
  --white: #ffffff;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 100;
  line-height: 30px;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.SMS{
 background-color: rgb(255, 248, 234);
 padding-top: 6rem;
}
.form-wrapper{
  max-width: 32rem;
  background-color: rgba(255, 255, 0, 0.158);
  z-index: -211;
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
}
.contact-form{
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}
.input-wrap.w-100{
  grid-column: span 2;
}
.contact-input{
  width: 100%;
  border: none;
  outline: none;
  transition: 0.3s;
  font-weight: 500;
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border-radius: 8px;
  background-color: #3299dd25;
}
.input-wrap{
  position: relative;
}
.input-wrap label{
  position: absolute;
  left: 50%;
  left: calc(1.35rem + 2px);
  transform: translateY(55%);
  pointer-events: none;
  transition: 0.2s ease-in-out  0.2s;
}
.input-wrap .icon{
  position: absolute;
  right: calc(1.35rem + 2px);
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.25rem;
  transition: 0.3s ease-in-out ;
}
textarea.contact-input{
  resize: none;
  width: 100%;
  min-height: 150px;
}
textarea.contact-input~ label{
  top: 1.25rem;
  transform: none;
}
textarea.contact-input~ .icon{
  top: 1.35rem;
  transform: none;
}
.input-wrap.focus .contact-input {
  background-color: rgba(234, 242, 250, 0);
  border: 2px solid var(--blue);
  box-shadow:  0 2px 0 0 rgb(48, 172, 166);
  transition: 0.4s;
} 
.input-wrap.focus label{
  color: rgb(2, 2, 2);
}
.input-wrap.focus .icon{
  color: var(--blue)
}
.input-wrap.focus label{
  font-size: 0.66rem;
  top: 0.60rem;
  transform: translateY(-50%);
}
#contact-submit{
  font-size: 14px;
  width: 10vw;
  height: 7vh;
  background-color: var(--blue);
  border-radius: 10px;
  border: none;
  letter-spacing: 6px;
  text-transform:capitalize;
}
fieldset{
  display: none;
}
#contact-submit:hover{
  text-transform: uppercase;
}
.contact-heading h1{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 26px;
}
.contact-heading p{
  font-size: 16px;
  padding-top: 1em;
}
