:root {
  --blue:  #3299dd;
  --white: #ffffff;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}

body{
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
}
img{
  max-width: 100%;
  height: auto;
  width: 100%;
}


    .carousel-item{
    background-position: center;
    background-size: cover;
    height: 100vh;
    }
    .d-block{
      height: 100vh;
    }
  .c-item{
    height: 100vh;
    width: 100vw;
  }
  .c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .carousel-caption h5{
    font-size: 40px;
    font-weight: 600;
  }
 .carousel-caption{
 visibility: hidden;
 }
  
  
  @media (max-width: 858px){
 
   .c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .d-block{
    height: 100vh;
  }
  .carousel-caption h5{
    font-size: 20px;
    font-weight: 600;
  }
  .heda{
    display: none;
  }
  .parer{
    font-size: 20px;
    font-weight: 600;
  }
  .carousel-caption{
    visibility: visible;
   }
  }
*/
    /* Why Section*/

#why{
  background-image: url(/images/pattern.svg);
  height: 49vh;
  position: relative;
  padding-bottom: 30px;
  transition-delay: 400ms;

}
.backgblob{
  position: absolute;
}
.shell{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.reason{
  display: grid;
  padding: 30px;
  padding-left: 50px;
  width: 50%;
  position: relative;
}
.reason h1{
    padding-bottom: 30px;
    padding-top: 40px ;
    font-size: 40px;
    text-transform: uppercase;
}
.reason p{
  padding-top: 10px;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}
.cta a{
  text-decoration: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background:grey;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: var(--blue);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}



.mboto{
  display: grid;
  width: 50%;
  background-color: #ffffff;
  position: relative;
}
@media screen and (max-width:1024px) {
  .why{
    height: 70vh;
  }
.reason{
  display: flex;
}
.mboto{
  display: flex;
}
}
@media screen and (max-width:858px) {
  #why{
    height: auto;
  }
  .reason{
    display: grid;
    position: relative;
    width: 100%;
    letter-spacing: 2px;
    text-align: left;
  }
  .reason h1{
    font-size: 30px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.mboto{
  display: flex;
  background-color: #e90909;
  position: relative;
  display: none;
}
}
    /*Section ends*/
/*Ndo manaake*/

.datainfo{
  padding: 0;
  margin: 0;
  display: flex;
  height: 65vh;
  position: relative;
 
}

#conitainer{
  background-color: #ffffff;
  width: 50%;
  transition-delay: 30ms;
  transition: ease-in;
}

#conitainer2{
  background-color: rgb(255, 255, 255);
  width: 50%;
  transition-delay: 10ms;
  transition: ease-in-out;
}
a {
  color: #000000;
}
a:hover {
  color: #000000;
}
h1 {
  font-size: 2em;
}

.h-cord-container {
  display: flex;
  flex-direction: column;
  resize: vertical;
  height: 300px;
  margin-top: 50px;
  width: 550px;
  float: right;
  padding-right: 10px;
  
}

.h-card-container {
  display: flex;
  flex-direction: column;
  resize: vertical;
  height: 320px;
  margin-top: 50px;
  width: 550px;
  text-decoration: none;
  float: left;
}
.h-card {
  box-shadow: 0px 1px 5px #ffffff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.25s ease-out;
  flex: 1;
  transition-delay: 400ms;
}

.h-card:hover {
  padding-top: 5px;
  padding-bottom: 130px;
}
.h-card:hover h1{
  display: none;
}
.h-card:hover p {
  opacity: 1;
}
.h-card a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.h-card p {
  opacity: 0;
  transition: opacity 0.25s ease-out;
  padding-top: 0;
}

.h-cord {
  box-shadow: 0px 1px 5px #ffffff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.25s ease-out;
  flex: 1;
  float:right;
  padding-right: 0;
  transition-delay: 200ms;
}
.h-cord h1{
  display: flex;
  float: right ;
  padding-right:0;
}
.h-cord:hover {
  padding-top: 10px;
  padding-bottom: 130px;
}
.h-cord:hover h1{
  display: none;
}
.h-cord:hover p {
  opacity: 1;
}

.h-cord a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.h-cord p {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
#hc1 {
  background-color: white;
}
#hc1:hover {
  background-color: white;
}
#hc2 {
  background-color: white;
}
#hc2:hover {
  background-color: white;
}
#hc3 {
  background-color: white;
}
#hc3:hover {
  background-color: rgb(255, 255, 255);;
}


@media screen and (max-width:1024px){
  
}
@media screen and (max-width:858px){
  .datainfo{
    height: auto;
  }
#conitainer{
  display: none;
}
#conitainer2{
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  padding-right:0px ;
}

.h-card-container {
  display: flex;
  flex-direction: column;
  resize: vertical;
  height: 460px;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right:0px ;
}
.h-card {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.h-card:hover {
  padding-top: 10px;
  padding-bottom: 130px;
}
}
/*Ndo maanake ends*/

/*Typing section*/

.typing{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%233299dd' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
.con-tainer {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.con-tainer p {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.con-tainer p span.typed-text {
  font-weight: 600;
  color: #3299dd;
  color: var(--blue);
}
.con-tainer p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.con-tainer p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
@media screen and (max-width:1024px){
  
}
@media screen and (max-width:858px){
  .con-tainer {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    position: relative;
  
  }
}
/*Section typing ends*/



        /*WHAT WE OFFER*/
        .Partners{
          background-color: rgb(49, 49, 49);
          transform: skewY(-1.6deg);
          overflow: hidden;
          position: relative;
          height: auto;
        }
        .wrap {
          padding: 3.8rem;
          position:relative;
          width: 100%;
          transform: skewY(1.6deg);
          
        }
        h3 {
          font-size:2.4rem;
          font-weight: 600;
          text-align:center;
          color: rgba(255, 255, 255, 0.897);
          color: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
        }
        .clients {
            align-items: center;
            -webkit-box-align: center;
            display: grid;
            gap: 3.8rem 3.8rem;
            grid-template-columns: auto auto;
            justify-items: center;
            margin: 4rem auto;
            max-width: 1024px; }
        
        .clients li {
          list-style: none;
          margin: 0;
          -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
        }
        .clients img {
          height: 2 rem;
        
        }
        .clients:hover li {
        filter: blur(0px);
        -webkit-filter: blur(0px);
        }
        .clients:hover li:not(:hover)  {
        filter: blur(3px);
        -webkit-filter: blur(2px);
        }
        .clients li:hover {
        -webkit-transform: translateY(-0.3rem);
        transform: translateY(-0.rem); 
        }
        
        @media (min-width: 1024px) {
        .clients {
            grid-template-columns: auto auto auto auto; }
            
        .clients img {
          height: 4rem; }}
        
        /* --- Images (gray logo) --- */
        .clients img {
          -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
                  filter: grayscale(100%) brightness(10%) contrast(10%); }
        
        .clients img:hover {
          background: none;
          -webkit-filter: grayscale(0%);
                  filter: grayscale(0%);
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }

     @media screen and (max-width:858px){
    
      .Partners{
        display: none;
      }
          }
        /*WHAT WE OFFER ENDS*/

  .joinus{
    height: auto;
    position: relative;;
    background-color: #ffffff;
    display:flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 80px;
    width:100%;
    padding-bottom: 2em;
    margin-top: 2em;
  }
  #kushoto{
    background-color: #ffffff;
    display: block;
    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    transition-delay: 600ms;
  }
  #kushoto h2{
    font-weight: 550;
    font-size: 27px;
    position: relative;
    line-height: 39px;
    color: #E01515;
    height: 39px;
    padding-bottom: 1.4em;
    padding-top: 70px;
  }
  #kushoto h1{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    line-height: 46px;
    height: 46px;
    padding-bottom: 2em;
  }
  #kushoto p{
    position: relative;
    width: 508px;
    padding-bottom: 2em;
  }
  .becometh{
    background-color:inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
 
  .btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .btn-41 {
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: rgb(0, 0, 0);
  }
  
  .btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
   
    
  }
  
  .btn-41:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.02);
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }

  .kulia{
  
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;  
    float: right;
    padding-left: 10px;
  }
  .nokia{
    width: 100%;
    height: 90%;
    display: flex;
    position: relative;
  }
  .chonjoo{
   border-radius: 59% 41% 62% 38% / 61% 39% 61% 39% ;
  }

  
@media screen and (max-width:1024px) {
  
 }
@media screen and (max-width:768px) {
  .joinus{
    display:grid;
    position: relative;
    height:auto;
    width: 100%;
    overflow: hidden;
    padding-left: 50px;
    padding-right:20px ;
  }
  .kulia{
    width: 100%;
    padding: 0;
    padding-bottom: 60px;
  padding-right: 30px;
  }
  #kushoto {
    width: 100%;
  }
  #kushoto h2{
    font-size: 22px;
    padding-top: 20px;
    font-size:21px;
    font-weight: 300;
  }
  
  #kushoto h1{
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  #kushoto p{
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    overflow: hidden;
    font-weight: 100;
    margin-bottom: 30px;
  }
  .becometh{
   padding-right: 30px;
   padding-bottom:30px;
  }
  .direct{
      background-color:  rgb(62, 172, 199);;
      border-style: none;
      border-radius: 10px;
      font-size: 13px;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 2px;
      cursor: pointer;
    }
    .nokia{
      width: 100%;
      height: 90%;
      display: flex;
      position: relative;
    }
    .chonjoo{
      height: 40vh;
      border-radius: 10px;
      width: 100vw;
    }
  }
   
  
  /*Counter link*/

