*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(71, 71, 71);
}
img{
  max-width: 100%;
  height: auto;
  width: 100%;
}

.main{
  position: relative;
}



  /*Hero section*/
.mbisha img{
  height: 90vh;
}
.weoffer {
  position: absolute;
  top:20%;
  right: 3%;
  width: 40vw;
}
.weoffer h1{
  padding-bottom: 19px;
  width: 80%;
  letter-spacing: 4px;
}
.weoffer p{
  font-size: 14px;
  line-height: 27px;
}

/*Services Start*/
.mboka{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 4em 0 4em;
  justify-content: center;
  gap: 2em;
  position: relative;
  top: -40px;
}
.mboka div{
  object-fit: contain;
  width: 20vw;
  border: solid rgb(141, 145, 146);
  border-width: 1.9px;
  margin-bottom: 2em;
  border-radius: 10px;
}
.mboka img{
  height: 16vh;
  width: 20vh;
  border-radius: 50%;
  display: flex;
  margin: auto;
  padding-top: 6px;

}
.mboka p{
  font-size: 14px;
  font-weight: 350;
  padding: 8px;
}
.mboka h5{
  text-align: center;
  font-size: 14px;
  padding-top:7px;
}
.mboka hr{
  margin: auto;
  color: black;
}


/*Nationwide Clients*/
  .Clients{
    background-color: rgb(95, 92, 92);
  }
  .clientelle{
  width: 100vw;
  display: grid;
  padding-top: 7em;
  position: relative;
}
.clientelle h1{
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: -0.075rem;
  font-weight: 900px;
  text-rendering: optimizelegibility;
  line-height: 1.1;
  display: none;
}
.arrangement{
  width: 70vw;
  height: 50vh;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.arrangement .hero{
  filter: grayscale(100%);
}
.arrangement .hero:hover{
 filter: grayscale(0%);
 transform: scale(1.1);
 transition: ease-in 280ms;
 transition-delay: 100ms;
}
.arrangement .hero:nth-child(4){
  height:30vh;
  width:20vw;
}

  .hero{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 75px;
    object-fit: contain;
  }
  
 
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
   
    h1 {
      font-size:24px;
    }
  }
  
 

/*Hero section ends*/

.Grow{
  display: flex;
  padding: 2em 2em 2em 2em;
  background-color: rgb(71, 71, 71);
}
.timu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 40vw;
  padding-right: 2em;
  color: wheat;
}
.timu h3{
  font-size: 3em;
  line-height: 1.2em;
}
.facecard {
  width: 60vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}
.facecard :nth-child(1){
background-image: url(/images/MAnyeki\ \(1\).jpg);
border-top-right-radius: 8em;
border-top-left-radius: 8em;
border-bottom-left-radius: 8em;
}
.facecard :nth-child(2){
background-image: url(/images/mtennis.jpg);
border-top-right-radius: 8em;
border-top-left-radius: 8em;
}
.facecard :nth-child(3){
  background-color: orange;
  border-radius: 9em;

}
.facecard :nth-child(4){
  background-image: url(/images/Mtenno.jpg);
  border-bottom-left-radius: 8em;
}
.facecard :nth-child(5){
  background-image: url(/images/mie.jpg);
  border-top-right-radius: 8em;
  border-bottom-right-radius: 8em;
}
.facecard :nth-child(6){
  background-color: green;
  border-top-right-radius: 8em;
  border-bottom-left-radius: 8em;
  border-bottom-right-radius: 8em;
}
.facecard :nth-child(7){
  background-image: url(/images/MAnyeki.jpg);
  border-top-right-radius: 8em;
  border-top-left-radius: 8em;
  border-bottom-left-radius: 8em;
}
.facecard :nth-child(8){
  background-image: url(/images/tommy-van-kessel-n6cUGwvxygA-unsplash.jpg);
  border-bottom-left-radius: 8em;
  border-top-left-radius: 8em;
}
.facecard :nth-child(9){
  background-color: red;
  border-top-right-radius: 8em;
  border-bottom-right-radius: 8em;
}
.facecard :nth-child(10){
  background-image: url(/images/Landimbisha.jpg);
  border-radius: 9em;
}
.facecard :nth-child(11){
  background-color: yellow;
  border-top-left-radius:8em;
  border-bottom-right-radius:8em;
  border-bottom-left-radius: 8em;
}
.facecard :nth-child(12){
  background-image: url(/images/Gathesh.JPG);
  border-top-left-radius: 8em;
}
.facecard div{
  height: 30vh;
  background-size: cover;
}