*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


img{
  max-width: 100%;
  height: auto;
  width: 100%;
}


nav{
  display: flex;
  justify-content:space-around;
  align-content:space-between;
  min-height: 8vh;
  font-family: 'Teko', sans-serif;
  background-color: hwb(207 7% 25% / 0.91);
  position: relative;
  padding-top: 10px;
}
.logos{
 width: 150px;
 height: auto;
 padding-top: 0;
 margin-top:0;
}
.nav-links{
  display: flex;
  width: 40%;
  align-content: center;
  justify-content: space-between;
}

.nav-links li{
  list-style: none;
  font-size: 30px;
}
.nav-links a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
}
.nav-links a:hover{
  text-decoration: underline;
  font-weight: 200;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color:rgb(0, 0, 0) ;
  margin: 4px;
  transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
 .nav-links{
  width: 60%;
 }
 .left p {
  visibility: hidden;
 }
 .left .Explore{
  visibility: hidden;
 }
 
}
@media screen and (max-width:768px) {
  body{
      overflow-x: hidden;
  }
 .nav-links{
  position: absolute;
  right: 0px;
  height: 70vh;
  top: 8vh;
  background-color: #e28e88f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding-bottom: 40px;
  padding-top: 40px;

 }
 .nav-links li{
  opacity: 0;
 }
  .nav-links .pili{
  padding-left: 70px;
 }
 .burger{
  display: block;
 
 }
 
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50%);
  }
  to{
      opacity: 1;
      transform: translateX(0%);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


.joinus{
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(51, 146, 223, 0.822) 30%, rgba(133, 190, 236, 0.822) 40%,#ffffff 68%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .kushoto{
    background-color: transparent;
    display: grid;
    width: 40%;
  }
  .kushoto h1{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    line-height: 46px;
    left: 37px;
    top: 30px;
    height: 46px;
    color: #000;
  }
  .kushoto p{
    position: relative;
    left: 107px;
    padding-right: 60px;
    color: #000;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .kulia{
    width: 60%;
    background-color: inherit;
  }
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content{
  width: 30%;
  margin: 0px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0;
  transition: 0.4s;
  /*background: rgb(112, 112, 112);*/
background: inherit;
}
.content p{
  font-weight: 500;
  font-size: 19px;
}
.hero{
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 75px;
  object-fit: contain;
}


@media screen and (max-width:1024px) {
.joinus{
  display: grid;
  height: auto;
  margin: 0;
}
.kushoto{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 10px;
}
.kushoto h1{
  padding-right: 180px;
  position: relative;
  margin-bottom: 80px;
  margin-top: 30px;
  left: 90px;
  
}
.kushoto p{
  padding-right: 140px;
  padding-top: 60px;
  font-size: 16px;
}

.kulia{
  width: 100%;
 

}
}
@media  screen and (max-width:764px) {
  .joinus{
    display: block;
    height: auto;
  }
  .kushoto{
    position: relative;
  }
  .kushoto h1{
    font-size: 37px;
    font-weight: 500;
  }
  .kulia{
    width: 100%;
    position: relative;
  }
  .kulia p{
    font-size: 14px;
  }
  .hero{
    height: 0px;
    width: 60px;
  }
}


.works{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.822) 30%,rgba(19, 115, 194, 0.822) 88%);
}
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 74%;
  margin: 0 auto;
  max-width: 80rem;
  padding-top:50px;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(33.33% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(116, 29, 29, 0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #eaeaea;
	font-size: 1.5rem;
}

.back{
  background: #5391c1;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #85b2d4 0%,#2d693f 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 23px;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #308dd5;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
  
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
  .works{
    position: absolute;
  }
 
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .works{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .front .inner p{
    font-size: 20px;
  }
}

.footer{
  background-image: linear-gradient(to bottom, rgba(19, 115, 194, 0.452) 30%,rgba(73, 143, 201, 0.822) 88%);
  background-color:rgba(103, 160, 207, 0.822);
  top: 0;
 }
.footsubishi{
  max-width: 1170px;
  margin: auto;
}
.shubaru{
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.toeyota{
  width: 25%;
  padding: 0 15px;
  padding-top: 50px;
}
.toeyota ul{
  list-style: none;
}
.toeyota h4{
  font-size: 18px;
  color: #070707;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.toeyota h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.toeyota ul li:not( :last-child){
  margin-bottom: 10px;
}
.toeyota ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(31, 30, 31);
  text-decoration: none;
  font-weight: 300;
  color:rgb(252, 248, 248);
  display: block;
  transition: all 0.3s ease;
  
}
.toeyota ul li a:hover{
  color: rgb(0, 17, 12);
  padding-left: 8px;
}
/*Responsive footer*/
@media(max-width: 1000px){
  .toeyota h4{
  padding-left:-10px;
  }
  .toeyota{
    width: 50%;
    margin-bottom: 30px;
    padding-left:50px ;
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .toeyota{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 16px;
  }

  .shubaru{
    padding-top: 30px;
  }
}
